@import '../styles/style.scss';

.rodape{
    background-color: #292828;
    width: 100%;
    height: 20vh;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rodape-texto{
    color: #989898;
    text-align: center;
    font-family: Spline Sans Mono;
    font-size: 22px;
    
    text-decoration: none;
    
    
}