@import '../styles/style.scss';



.container-modal{
    width: 70%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    
}



.modal-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btn-modal{
    background-color: #D0014C;
    border: none;
    border-radius: 100px;

    width: 150px;
    height: 150px;
    box-shadow: 0 5px 15px 0px rgba(8,0,8,8);

}


@keyframes float {
	0% {
		
		transform: translatey(10px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		
		transform: translatey(60px);
	}
}

.modal-transicao{
    background-color: transparent;
    overflow: hidden;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
	
}

.btn-modal:hover{
    background-color: #ff2c7a;
}

.modal-titulo{
    color: #B40041;
    text-align: center;
    font-family: 'Spline Sans Mono';
    font-size: 28px;
    text-transform: uppercase;
    padding: 10% 0 0 0;
    
}


/*Configurações do modal aberto*/

.img-formacao{
    padding: 0 5% 0 5%;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: #000000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
}

.modal-tela{
    background-color: #80012f;
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-tela-profissional{
    background-color: #80012f;
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.close-button{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10% 0 0;
    
   
}

.modal-open{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

   
}


.modal-icone{
    background-color: #80012f;
    border-radius: 100px;
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
   
}

.modal-open-titulo{
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 4% 0 1% 0;
}

.modal-open-texto{
    color: #FFF;
    font-family: Inter;
    font-weight: lighter;
    padding: 4% 0 0 0;

}


li{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    list-style: square;

    padding: 1% 0 1% 0;
}

.modal-profissional{
    width: 60%;
    
}


/* Media Querie ----------------------------------------------------------------- */
@media only screen and (max-width: 1024px){
    
.container-modal{
    width: 80%;
    
    
}



.btn-modal{
   
    
    width: 120px;
    height: 120px;
}


.modal-titulo{
    font-size: 22px;
}


/*Configurações do modal aberto*/

.img-formacao{
    padding: 0 5% 0 5%;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: #000000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
}

.modal-tela{
    background-color: #80012f;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-tela-profissional{
    background-color: #80012f;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.close-button{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10% 0 0;
    
   
}

.modal-open{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

   
}


.modal-icone{
    background-color: #80012f;
    border-radius: 100px;
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
   
}

.modal-open-titulo{
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 4% 0 1% 0;
}

.modal-open-texto{
    color: #FFF;
    font-family: Inter;
    font-weight: lighter;
    padding: 4% 0 0 0;

}


li{
    font-size: 2rem;
 
}

.modal-profissional{
    width: 80%;
    
}


/* Media Querie ----------------------------------------------------------------- */
@media only screen and (max-width: 784px){

    .container-modal{
        width: 90%;
    }
    .btn-modal{
        width: 100px;
        height: 100px;
    }
    
    
    .modal-titulo{
        font-size: 16px;
    }
    
    
    /*Configurações do modal aberto*/
    
    .img-formacao{
        padding: 0 5% 0 5%;
    }
    
    .modal{
        width: 100vw;
        height: 100vh;
        background-color: #000000;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        
    }
    
    .modal-tela{
        background-color: #80012f;
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .close-button{
        background-color: transparent;
        border: none;
        width: 100%;
        height: 3em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0 10% 0 0;
        
       
    }
    
    .modal-open{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    
       
    }
    
    
    .modal-icone{
        background-color: transparent;
        border-radius: 100px;
        width: 150px;
        height: 150px;
    
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 5% 0 5% 0;
        
       
    }
    
    .modal-open-titulo{
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    
        padding: 4% 0 1% 0;
    }
    
    .modal-open-texto{
        color: #FFF;
        font-family: Inter;
        font-weight: lighter;
        padding: 4% 0 0 0;
    
    }
    ul{
        margin: 0 0 40% 0;
    }
    
    li{
        font-size: 1rem;
     
    }
    
    .modal-profissional{
       
        width: 90%;
        height: 100%;
        
    }

    .modal-tela-profissional{
        background-color: #80012f;
        width: 80vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
}