/*Modals*/
.container-modal{
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.modal{
    background-color: #D0014C;
    border: none;
    border-radius: 100px;

    width: 150px;
    height: 150px;
    
}


.modal-titulo{
    color: #B40041;
    text-align: center;
    font-family: 'Spline Sans Mono';
    font-size: 28px;
    text-transform: uppercase;
    padding: 10% 0 0 0;
    
}