@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/* Pagina principal */
/*Fontes, titulos e subtitulos*/

body{
    background-color: #1B1A1A ;
}

.titulo1{
    color: #ffffff;
    font-size: 32px;
    font-family: 'inter';
}

h1{
    color: #D0014C ;
    font-size: 64px;
    font-family: 'spline sans mono';
}


.subtitulo{
    color: #D0014C;
    font-size: 32px;
    font-family: 'spline sans mono';
}

p{
    color: #ffffff;
}

h2{
    font-size: 40px;
    color: #B40041;
    font-family: 'spline sans mono';
    font-weight: bold;
    text-transform: uppercase;

    padding: 2% 0 2% 0;
}

/*Container principal*/
.container-principal{
    margin: 20% 10% 20% 10%;
}

.botoes-titulo{
    margin: 3% 0 0 0;
}
.btn-conhecer{
    border-radius: 40px;
    background: #B40041;
    

    text-decoration: none;
    color: #ffffff;
    padding: 1% 5% 1% 5%;

    cursor: pointer;
    position: relative;
    z-index: 0;
    border: none;
    outline: none;

}

.btn-conhecer:hover{
    background-color: #252525;
    color: #ffffff;
    border:  solid 1px #ffffff;

}

/*.glow-on-hover:before {

    Efeito no botão 

    content: '';
    background: linear-gradient(45deg, #7e214c, #ff7eba, #B40041, #7e214c, #ff7eba, #B40041, #B40041, #7e214c );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}



.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

*/

.btn-curriculo{
    border-radius: 40px;
    border: 1px solid #B40041;
    background: rgba(180, 0, 65, 0.00); 


    color: #D0014C;
    font-size: 18px;
    font-family: 'inter';

    text-decoration: none;
    color: #B40041;
    padding: 1% 5% 1% 5%;
    margin: 0 0 0 1%;


}

.btn-curriculo:hover{
    background-color: #252525;
    color: #ffffff;
    border:  solid 1px #ffffff;
}

/*section Sobre Mim*/

.sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sobre-mim-texto{
    padding: 0% 10% 5% 10%;
    font-family: 'inter';
    font-weight: lighter;
    font-size: 28px;

    line-height: 1.2;
}

.texto-curriculo{
    background-color: transparent;
    border: none;

    color: #B40041;
    font-family: 'inter';
    font-size: 32px;
    text-decoration: underline;
}


/* section habilidades */
.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10% 10% 10% 10%;
}

.habilidade-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 196px;
    height: 158px;
    border-radius: 40px;
    background: #282727;
    
    margin: 1%;
}

.container-habilidades{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.hover-zoom {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-zoom:hover {
    transform: scale(1.5);
  }


/* Section projetos desenvolvidos*/
.projetos-desenvolvidos{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20% 0 20% 0;
}

.nav-projetos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-projetos-item{
    font-size: 28px;
    font-family: 'Spline Sans Mono' ;
    text-transform: uppercase;
    text-decoration: none;
    color: #B40041;

    border: 1px #B40041 solid;
    width: 30vw;
    padding: 3% 0 3% 0;

    text-align: center;
}

.nav-projetos-item:hover{
    border:  1px solid #FFFFFF;
    color: #ffffff;
}

/*Pagina Meus certificados*/

.pag-cursos-certificados{
    margin: 10% 0 10% 0;

}

.certificado-img{
    width: 500px;
    height: 300px;
}
.pag-certificados-titulo{
    color: #ffffff;
    text-align: center;
    font-family: Spline Sans Mono;
    font-size: 48px;
 
}

details{
    margin: 1% 10% 0% 10%;
}


summary{
    border-radius: 15px;
    background: #363535;
    height: 8vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: #ffffff;

    padding: 0 0 0 3%;
}

.summary-open{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.certificado-img-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 1% 1% 0 0;
   flex-wrap: wrap;
}



/*Pagina meus Projetos*/

.container-projeto{
    
    margin: 0 1% 0 1%;
}

.main-meus-projetos{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 10%;
    
}

.main-meus-projetos h1{
    color: #ffffff;
    font-size: 48px;
}
.projetos{
    margin: 0 5% 10% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.projeto-item{
    width: 40vw;
    height: 40vh;
    background-color: #ffffff;
    margin: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.github-rep{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #B40041;
    width: 40vw;
    height: 8vh;

    margin: 0 1% 0 5%;
    
   
}


.proj1{
    background-image: url(../../../public/Projetos-background/allan-kelwin.png) ;
    background-size: cover;
}

.proj2{
    background-image: url(../../../public/Projetos-background/netflix-clone.png)   ;
    background-size: cover;
}

.proj3{
    background-image: url(../../../public/Projetos-background/link-nicolly.png);
    background-size: cover;
}

.proj4, .proj5, .proj6, .proj7, .proj8{
background-color: #0b0104;
border:  solid 1px #D0014C;
}
  


.typewriter h3 {
  color: #fff;
  font-family: Spline Sans Mono ;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  flex-wrap: wrap;
  
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 10% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


/*Pagina Obrigado*/
.container-obrigado{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.texto-obrigado{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #363535;
    font-size: 32px;
    margin: auto;
    text-align: center;
}
.obrigado-home{
    text-decoration: none;
    background-color: #D0014C;
    border-radius: 15px;
    padding: 2% 10% 2% 10%;
    color: #ffffff;
    font-size: 26px;
    margin: 5% 0 0 0;
    text-align: center;
}

/* Media Querie -------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {

    .titulo1{
        font-size: 22px;
    }
    
    h1{
        font-size: 38px;
    }
        
    .subtitulo{
        font-size: 22px;
    }

    h2{
        font-size: 38px;
    }
    /*section Sobre Mim*/    
    .sobre-mim-texto{
        font-size: 22px;
    }

    /* section habilidades */
    .habilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 10% 10% 10% 10%;
    }
    
    .habilidade-item{
        width: 150px;
    }

    .projetos-desenvolvidos{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        margin: 20% 0 20% 0;
    }
        
    .nav-projetos-item{
        width: 40vw;
    }
    
    /*Pagina Meus certificados*/
    
    /*Pagina meus Projetos*/
    
    .container-projeto{
        margin: 0 1% 0 0;
    }
    
    .main-meus-projetos h1{
        color: #ffffff;
        font-size: 48px;
    }
    .projetos{
        margin: 0 5% 10% 4%;
    }
    .projeto-item{
        width: 40vw;
        height: 20vh;
    }
    
    .github-rep{
       
        width: 40vw;
        height: 5vh;
    }
    
 
}

/* Media Querie -------------------------------------------------------------------*/
@media only screen and (max-width: 768px){

     /* section habilidades */
     .habilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 30% 10% 30% 10%;
    }
    
    .habilidade-item{
        width: 120px;
        height: 120px;
    }
    
    /*Certificadoa */
    .certificado-img Image{
        width: 100px ;
        height: 90px ;
    }

    .pag-cursos-certificados{
    margin: 10% 0 10% 0;

    }

    .pag-certificados-titulo{
    
    font-size: 38px;
 
    }

    details{
    margin: 1% 5% 0% 5%;
    }

    .certificado-img{
   margin: 4px;
    }

    /* Projetos */
    
    .nav-projetos-item{
        width: 30vw;
        font-size: 18px;
        padding: 3% 5% 3% 5%;
        

        }

        .container-projeto{
            margin: 0 1% 0 0;
        }
        
        
        
        .main-meus-projetos h1{
            color: #ffffff;
            font-size: 48px;
        }
        .projetos{
            margin: 0 5% 10% 4%;
        }
        .projeto-item{
            width: 40vw;
            height: 15vh;
        }
        
        .github-rep{
           
            width: 40vw;
            height: 5vh;
        }

        .typewriter h3 {
           font-size: 12px;
        }
    
/* Media Querie -------------------------------------------------------------------*/
@media only screen and (max-width: 480px){
    .titulo1{
        font-size: 18px;
    }
    
    h1{
        font-size: 26px;
        padding: 1% 0 0 0;
    }
    
    
    .subtitulo{
        font-size: 18px;
        padding: 1% 0 0 0;
    }
    
   
    
    h2{
        font-size: 26px;
    }
    
    
    
    /*Container principal*/
    
    
    
    .container-principal{
        margin: 20% 10% 20% 10%;
    }
    
    .botoes-titulo{
        margin: 3% 0 0 0;
    }
    .btn-conhecer{
        border-radius: 40px;
        padding: 2% 6% 2% 6%;
    }
    
    .btn-curriculo{
        font-size: 18px;
        
        padding: 2% 6% 2% 6%;
        margin: 0 0 0 3%;
    
    
    }
    
    /*section Sobre Mim*/
    
    .sobre-mim{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .sobre-mim-texto{
    
        font-size: 18px;
    
     
    }
 
    
    /* section habilidades */
    .habilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 30% 5% 30% 5%;
    }
    
    .habilidade-item{
      
        
        width: 120px;
        height: 120px;
        
        
        margin: 1%;
    }
    
    .container-habilidades{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        
    }
    
    
    .hover-zoom {
        transition: transform 0.3s ease-in-out;
      }
      
      .hover-zoom:hover {
        transform: scale(1.5);
      }
    
    
    /* Section projetos desenvolvidos*/
    
    
    
    .projetos-desenvolvidos{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        margin: 20% 0 20% 0;
    }
    
    .nav-projetos{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5% 0 0 0;
    }
    
    .nav-projetos-item{
        font-size: 16px;
        width: 40vw;
        padding: 3% 0 3% 0;
    }
    
    
    /*Pagina Meus certificados*/

    .certificado-img{
        width: 400px;
        height: 300px;
    }
    
    .pag-cursos-certificados{
        margin: 10% 0 10% 0;
    
    }
    
    .pag-certificados-titulo{
       
        font-size: 26px;
     
    }
    
    details{
        margin: 1% 5% 0% 5%;
    }
    
    
    summary{
        height: 6vh
    }
    
    .summary-open{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    
       
        padding: 0 4% 0 0;
    }
    

    
    /*Pagina meus Projetos*/
    
    
    
    .main-meus-projetos{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
    
        margin: 10%;
        
    }
    
    .main-meus-projetos h1{
      
        font-size: 26px;
    }
    .projetos{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
    }
    
    .projeto-item{
        width: 80vw;
        height: 20vh;
        
        
    }
    
    .github-rep{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #B40041;
        width: 80vw;
        height: 3vh;
    
      
    }

    .container-obrigado{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       
    }
    
    .texto-obrigado{
        width: 80%;
        font-size: 22px;
    }



    .obrigado-home{
        text-decoration: none;
        background-color: #D0014C;
        border-radius: 15px;
        padding: 2% 10% 2% 10%;
        color: #ffffff;
        font-size: 18px;
        margin: 5% 0 0 0;
    }

}
}